.search-container {
    margin-bottom: 2px;
  }
  
  .search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #878787;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .search-container input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  