/* Form.css */

.form-container {
  max-width: 60rem; /* Change to your desired max-width */
  margin: 0 auto;
  padding: 20px;
  padding-left: 30rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  background: #f6f6f6;
}

label {
  font-size: 1em;
  font-weight: bold;
  color: #4a4a4a;
}

.form-columns {
  display: flex;
  gap: 100px;
  margin-right: 50px;
}

.form-column {
  flex: 1;
  
}

input, textarea, select {
  width: 100%; /* Take full width of the container */
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bSubmitBTN {
  background-color: #1c92dc;
  color: #fff;
  width: 10rem; /* Take full width of the container */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
  align-items: right;
  margin-left: 50rem;
}

.sideImg{
  width: 30rem;
  height: 38rem;
  position: absolute;
  margin-left: -30rem;
}