.ProductList{
    margin-left: 10px;
    margin-right: 10px;
    width: 85.3vw;
    background-color: white;
    height: 620px;
    font-family: sans-serif;
    overflow-y: auto;
}

.ProductList-table {
    width: 100%;
    border-collapse: collapse;
}

.headp {
  position: relative;
}
  
.ProductList-table th, .ProductList-table td {
    border: 1px solid #7c7c7c;
    padding: 8px;
    text-align: left;
}
  
.ProductList-table th {
    background-color: #cfcfcf;
}
  
.ProductList-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
.ProductList-table tbody tr:hover {
    background-color: #dddddd;
}
  
.updateIcn {
    cursor: pointer;
    margin-right: 5px;
    color: rgb(0, 132, 255);
}

.removeIcn {
    cursor: pointer;
    margin-right: 5px;
    color: red;
}

.ProductList-format-image{
    width: 80px;
}

.ProductList-table th, .ProductList-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.ProductList-table td:nth-child(8){
    text-align: left;
}

.ProductList-table th:nth-child(1),
.ProductList-table td:nth-child(1) {
  width: 5%;
}

.ProductList-table th:nth-child(2),
.ProductList-table td:nth-child(2) {
  width: 15%;
}

.ProductList-table th:nth-child(3),
.ProductList-table td:nth-child(3) {
  width: 10%;
}

.ProductList-table th:nth-child(4),
.ProductList-table td:nth-child(4) {
  width: 10%;
}

.ProductList-table th:nth-child(5),
.ProductList-table td:nth-child(5) {
  width: 10%;
}

.ProductList-table th:nth-child(6),
.ProductList-table td:nth-child(6) {
  width: 5%; 
}

.ProductList-table th:nth-child(7),
.ProductList-table td:nth-child(7) {
  width: 5%; 
}

.ProductList-table th:nth-child(8),
.ProductList-table td:nth-child(8) {
  width: 30%;
}

.ProductList-table th:nth-child(9),
.ProductList-table td:nth-child(9) {
  width: 5%;
}

.ProductList-table th:nth-child(10),
.ProductList-table td:nth-child(10) {
  width: 5%;
}

.Product-options{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.Product-options-right{
  display: flex;
  flex-direction: row;
  margin-right: -7px;
  gap: 10px;
}



  